<nav class="navbar navbar-light bg-white navbar-full navbar-fixed-top ls-left-sidebar">

  <!-- Sidebar toggle -->
  <button class="navbar-toggler pull-xs-left hidden-lg-up" type="button" data-toggle="sidebar" data-target="#sidebarLeft"><span class="material-icons">menu</span></button>


  <!-- Menu -->
  <ul class="nav navbar-nav pull-xs-right hidden-md-down">
    <!-- User dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link active dropdown-toggle p-a-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false">
        <img src="<%= current_user.image_url ? current_user.image_url : '' %>" alt="Avatar" class="img-circle" width="40">
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-list" aria-labelledby="Preview">
        <%= link_to "logout", destroy_user_session_path, :method => :delete, :class => 'dropdown-item' %>
      </div>
    </li>
    <!-- // END User dropdown -->
  </ul>
  <!-- // END Menu -->
  <span class="navbar-brand first-child-md"><%= @navtitle %></span>
</nav>