<!-- Sidebar -->
<div class="sidebar sidebar-left si-si-3 sidebar-visible-md-up sidebar-dark bg-primary" style="position: fixed; min-height: 100%" id="sidebarLeft" data-scrollable >

  <!-- Brand -->
  <%= link_to root_path, :class => 'sidebar-brand' do %>
    Oden Rep
  <% end %>


  <!-- Menu -->
  <ul class="sidebar-menu sm-bordered sm-active-button-bg">
  </ul>
  <!-- // END Menu -->

  <!-- Stats -->
  <!-- // END Stats -->


</div>